doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Login page
    body 
         
         if(message){
          h3 #{meggage}
          form(action="/Signin" method='post')
              input(type="text" name="uname" required placeholder="Enter the Username")
              input(type="password" name="pwdname" required placeholder="Enter the Password")
              button(type="submit" value="Login") }