doctype html
html
    head
        title testpage
    body 
        h1 static file images: 
        img(src="./image1.png",alt="express js")
        div hi #{uname},Welcome to ExpressWeb.
        div Do you want to logout?
        div logout