html   
    head
        title login page
    body
        //if(message)
        //    h3 #{message}
        form(action='/Signin' method='POST')
            input(type="text" name='uname' required placeholder="Enter the username")
            input(type="password" name='pwdname' required placeholder="Enter the password")
            button(type="Submit") Log In