<!Doctype html>
<html>
    <head>
        <title>
            Sample form
        </title>
    </head>
    <body>
        <h1>Sample Registration form page</h1>
        <form action="register" method="POST">
            Username:<input type="text" name="uname" placeholder="Enter the username">
            <br>
            Password:<input type="password" name="pwdname" placeholder="Enter the password">
            <br>
            <input type="submit" value="Register">
        </form>
    </body>
</html>