html   
    head
        title login page
    body
        //if(message)
        //   h3 #{message}
        h2 Login/Signin Form page
        form(action='/Signin' method='POST')
        label UserName:
        input(type="text" name='uname' required placeholder="Enter the username")
        br
        label Password:
        input(type="password" name='pwd' required placeholder="Enter the password")
        br
        button(type="Submit") Log In