Doctype
html
    head
        title testpage
    body
        h1 static file images:
        //img(src="./image1.jpeg", alt="express js")
        br
        br
        div hi, #{uname}
        h3 Welcome to ExpressWeb.
        div Do you want to logout?
        form(action='/Signin' method='GET')
        button(type="submit") Logout


    